@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight:  normal;

    color: #0f141e;
    background-color:#FFF5EE;

}

.container  {
    max-width: 750px ;
    margin: auto;
    
}

.img{
    width: 200px;

    border-radius: 25px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.23);
}

.info{
    display: flex;
    margin-bottom: 10px;


}

.info-text{
    margin-left: 30px;
}
.info-text p {

    font-style: italic;
    font-weight: 500;
    color: #0f141e;

    margin: 0px;
}

.info-text h1 {
    color:#CD5C5C
}

.info-text h3{
    margin-bottom: 10px;
}

.card{
    border: 2px solid rgb(207, 203, 199);
    border-radius: 10px;
    
    padding-left: 10px;
    margin-bottom: 10px;

}

.card h2{
    margin-bottom: 10px;
}

.card-social{
    margin-bottom: 18px;;
}

/* .card ul li:first-child{
   margin: 0px;
} */

.bg-blue{
    background-color: rgb(155, 238, 220);

}

.bg-green{
    background-color: rgb(146, 214, 146);
}

.bg-cream{
    background-color: rgb(235, 205, 165);
}

a{
    text-decoration: none;
}

a:hover{
    color:hsl(0, 53%, 58%);
    
}

a:active{
    color: crimson;
}

a:visited{
    
    color: #0f141e;
}

.btn{
    transition: all .3s;
    
    padding: 10px 15px;

    font-size: inherit;
    border:none;  
    border-radius: 5px;  
    cursor: pointer;

    color: #FFF5EE;
    background-color: #CD5C5C;
}

.btn:hover{
    background-color:rgb(165, 228, 207);
    color:rgb(46, 48, 48)
}

.list{
    padding: 0 20px;
}

.list li{
    color: #86898f;
    margin-bottom: 10px;
}

.link-list {
   list-style: none;
   padding: 0;
   
   
}
.link-list li {
    margin-top: px ;
    border-bottom: 2px solid red;
    padding-bottom: 5px;
}

.link-list li:first-child {
    margin-bottom: -15px ;

}

.table{
    width: 100%;
}

.table td{
    padding-bottom: 10px;
}

.table td:nth-child(2), .table td:nth-child(3){
    color: #86898f;
}




.form h2{
    text-align: center;
}

.form-row{
    margin-bottom: 10px;
    display: flex;
}

.form-row .form-group{
    /* display: inline-block; */
    margin-right: 20px;
    width: 50%;
    /* width: calc(50% - 20px); */
}

.form-row .form-group:last-child{
    margin-right: 0;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #86898f
}

.form-group input,
.form-group textarea {
    
    width: 100%;
    box-sizing: border-box;
    border: none;

    background: transparent;
    border-bottom: 1px solid #ccc;
    color:#0f141e;
    padding: 15px 0 10px;
    outline: none;

    font-family: inherit;
}

.form-group textarea {
    padding: 0;
}


@media (max-width: 600px){
    .container{
        margin: auto;
    }

    .img{
       
        text-align: center;
    }
    .info{
        display: inline-block;
        text-align: center;
    }

    .form-row{
        display: block;
    }

    .form-row .form-group{
        width: 100%;
        margin-bottom: 10px;
    }



}












/* .card-work{
    border: 2px solid gainsboro;
    background-color: rgb(162, 253, 197);
    border-radius: 10px;
    padding-left: 5px;
}

.card {
    border: 2px solid rgb(93, 114, 124);
    background-color: rgb(162, 253, 253);
    border-radius: 10px;
    padding-left: 5px;
} */




